/* Obal každého příspěvku */
div.pr--wrap{
    /*background-color: darkcyan;*/
    width: 100%;
    position: relative;
    /*font-size: 18px;
    color: #FFFFFF;*/
    /*border: 1px solid black;*/
    display: inline-block;
}
/* I AM SINGING IN THE RAIN*/
/* článek na celou stránku */
div.pr--article-100{
    /*background-color: #6B243D;*/
    width: 100%;
}
/* I AM SINGING IN THE RAIN!*/
/* titulek příspěvku */
h2.pr--title-h2{
    background-color: #0D2D38;
    font-size: 18px;
    color: #FFFFFF;
    padding: 11px;
    text-align: center;
    border: 1px solid black;
    width: 100%;
}
/* WHAT A GLORIOUS DAY!*/
/* titulek pod-příspěvku */
h3.pr--title-h3{
    background-color: #0D2D38;
    font-size: 14px;
    color: #FFFFFF;
    padding: 7px;
    text-align: center;
    border: 1px solid black;
}
/* WHEN I AM SINGING IN THE RAIN!*/
/* odstavec */
p.pr--text{
    line-height: 1.3;
    /*padding: 10px;*/
    text-align: justify;
    font-size: 17px;
}
/*JUST SINGING*/
div.pr--float-right{
    float: right;
    width: 30%;
    /*background: khaki;*/
    margin: 5px;
    border: 1px solid black;
}

div.pr--float-left{
    float: left;
    width: 30%;
    /*background: khaki;*/
    margin: 5px;
    border: 1px solid black;
}

/* Vycentrování */
.pr--wrap-center{
    width: 100%;
    margin: 0px auto;
}

.pr--fg-img-right{
    width: auto;
    font-style: italic;
    margin: 14px;
}
.pr--fg-img{
    width: auto;
    font-style: italic;
}

.pr--odpoved{
    font-size: 24px;
    border-left: 3px solid #bdbdbd;
    padding: 15px;
    background-color: #f0f0f0;
}

.pr--odkaz{
    color: #DD002F;
}

.pr--odstavec{
    margin-left: 15px;
}

.pr--title{
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
}

@media only screen and (max-width:480px) {
/* Mobil na výšku */

    div.pr--float-right, div.pr--float-left{
        float: unset;
        width: 98%;
        margin: 0px auto;
    }
    .pr--wrap-center{
        margin: 0px auto;
    }
    .pr--fg-img{
        width: 100%;
        margin: 0px auto;
        text-align: center;
    }
}

@media only screen and (min-width: 481px) and (max-width: 801px) {
/* Mobil na šířku */
    div.pr--float-right, div.pr--float-left{
        float: unset;
        width: 98%;
        margin: 0px auto;
    }
    .pr--wrap-center{
        margin: 0px auto;
    }
    .pr--fg-img{
        width: 100%;
        margin: 0px auto;
        text-align: center;
    }
}
